<div class="contact-info">
    <b>CONTACT</b>
    <p>
        김선중 / Seon Kim
        <br>
        moleskindiary@gmail.com
        <br>
        sustainablediary.com
    </p>
</div>
<div class="insta-photo">
    <b>INSTAGRAM</b>
    <br>    
    <div id="instagram-embed">
        <img alt="" width=100%>
    </div>
</div>
