<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/profile.css">

    <script src="http:" crossorigin="anonymous"></script>
</head>

<body>
    <!-- 일단은 div 태그로 감싸야 flex 적용이 가능하다 -->
    <div class="container">
        <!-- 헤더 영역 -->
        <header>
            <div class="logo">
                <a href="/">SUSTAINABLE DIARY</a>
                <!-- <a href="/">
                    <i class="fa fa-bars fa-lg" id = 'hanburger'></i>
                </a> -->
            </div>
            
            <nav class = 'nav-flex-container'>
                <a href="/">home</a>
                <a href="profile.html">profile</a>
                <a href="project.html" class="active">project</a>
                <a href="gallary.html">gallary</a>
                <a href="diary.html" id = "diary">diary</a>
                <a href="visitor.html">visitor</a>
            </nav>
        
        </header>

        <!-- contents -->
        <div class="contents">
            <!-- main section -->
            <section class="main">
            
            </section>
        </div>
 
        <!-- footer -->
        <footer>
            SUSTAINABLE DIARY&copy;
            <br>
            <span id="since">SINCE 2017</span>
        </footer>
        </div>
    </div>
    <script src = './public/js/common.js'></script>
</body>
</html>