<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sustainable diary</title>
    <link rel = "stylesheet" href = "../public/css/common.css">
    <link rel = "stylesheet" href = "../public/css/gallery.css">
    
    <!-- to use fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    
</head>

<body class = "fade-in">
    <div class="container">
        <!-- header -->
        <header>
            <div class="logo">
                <!-- logo -->
                <a href="./index.html" id = "logo">SUSTAINABLE DIARY</a>
                <!-- hamburger icon -->
                <a href="./index.html">
                    <i class="fas fa-bars" id = "hamburger"></i>
                </a>
              </div>
                     
              <nav class ='nav-flex-container active'>
                <a href="./index.html">home</a>
                <a href="./profile.html">profile</a>
                <a href="./project.html">project</a>
                <a href="./gallery.html">gallery</a>
                <a href="./diary.html">diary</a>
                <a href="./visitor.html">visitor</a>
              </nav>
              
              <div id = "pop-up">
                <div>
                    <a href="./index.html">home</a>
                    <a href="./profile.html">profile</a>
                    <a href="./project.html">project</a>
                    <a href="./gallery.html">gallery</a>
                    <a href="./diary.html">diary</a>
                    <a href="./visitor.html">visitor</a>
                </div>
              </div>
        </header>

        <!-- contents -->
        <div class="contents">
            <!-- main section -->
            <section class="pictures">
                <div><img src="../public/imgs/img1.jpg" alt="img1" id = "img1"></div>
                <div><img src="../public/imgs/img2.jpg" alt="img2" id = "img2"></div>
                <div><img src="../public/imgs/img3.jpg" alt="img3" id = "img3"></div>
                <div><img src="../public/imgs/img4.jpg" alt="img4" id = "img4"></div>
                <div><img src="../public/imgs/img5.jpg" alt="img5" id = "img5"></div>
                <div><img src="../public/imgs/img6.jpg" alt="img6" id = "img6"></div>
            </section>
        </div>
 
        <!-- footer -->
        <footer>
            SUSTAINABLE DIARY&copy;
            <br>
            <span id="since">SINCE 2017</span>
            <i class="fas fa-arrow-circle-up fa-2x" id="home"></i>
        </footer>
    </div>

    <script src = '../public/js/common.js'></script>
</body>
</html>