<div class="logo">
  <!-- logo -->
  <a href="./index.html" id = "logo">SUSTAINABLE DIARY</a>
  <!-- hamburger icon -->
  <a href="./index.html">
      <i class="fas fa-bars" id = "hamburger"></i>
  </a>
</div>
       
<nav class ='nav-flex-container active'>
  <a href="./index.html">home</a>
  <a href="./profile.html">profile</a>
  <a href="./project.html">project</a>
  <a href="./gallery.html">gallery</a>
  <a href="./diary.html">diary</a>
  <a href="./visitor.html">visitor</a>
</nav>

<div id = "pop-up">
  <div>
      <a href="./index.html">home</a>
      <a href="./profile.html">profile</a>
      <a href="./project.html">project</a>
      <a href="./gallery.html">gallery</a>
      <a href="./diary.html">diary</a>
      <a href="./visitor.html">visitor</a>
  </div>
</div>