<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sustainable diary</title>
    <link rel = "stylesheet" href = "../public/css/common.css">
    <link rel = "stylesheet" href = "../public/css/index.css">
    
    <!-- to use fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">

</head>
<body class = "fade-in">
    <div class="container">
        <!-- header -->
        <header>
            <div class="logo">
                <!-- logo -->
                <a href="./index.html" id = "logo">SUSTAINABLE DIARY</a>
                <!-- hamburger icon -->
                <a href="./index.html">
                    <i class="fas fa-bars" id = "hamburger"></i>
                </a>
            </div>
                     
            <nav class ='nav-flex-container active'>
                <a href="./index.html">home</a>
                <a href="./profile.html">profile</a>
                <a href="./project.html">project</a>
                <a href="./gallery.html">gallery</a>
                <a href="./diary.ejs">diary</a>
                <a href="./visitor.html">visitor</a>
            </nav>

            <div id = "pop-up">
                <div>
                    <a href="./index.html">home</a>
                    <a href="./profile.html">profile</a>
                    <a href="./project.html">project</a>
                    <a href="./gallery.html">gallery</a>
                    <a href="./diary.html">diary</a>
                    <a href="./visitor.html">visitor</a>
                </div>
            </div>
        
        </header>

        <!-- contents -->
        <div class = "contents">
            <!-- contents - main section -->
            <section class = "main">
                <!-- articles -->
                <div class = "article">
                    <div>
                        <h2>first article</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dicta, beatae autem et vero quaerat a? Repudiandae, perferendis impedit! Reiciendis quibusdam itaque adipisci, doloribus facere impedit? Perspiciatis fuga aut dolorum.
                        </p>
                    </div>
                    <div>
                        <h2>second article</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, amet?
                        </p>
                    </div>
                    <div>
                        <h2>third article</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, amet?
                        </p>
                    </div>
                    <div>
                        <h2>fourth article</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, amet?
                        </p>
                    </div>
                    <div>
                        <h2>fifth article</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, amet?
                        </p>
                    </div>
                </div>
                
                <div class="drawing">
                    <div>
                        <img src="../public/imgs/Side-view-of-David-Beckham-Hairstyles.jpg" alt="" width=100%>
                    </div>
                    <div>
                        <img src="../public/imgs/a4e70a9d93e2f8891939bc09f7887746.jpg" alt="" width=100%>
                    </div>
                    <div>
                        <img src="../public/imgs/602a5d4cdb9ecb2debabd3978066ddbb.jpg" alt="" width=100%>
                    </div>
                    <div>
                        <img src="../public/imgs/863b3d44c7fcba46fa03929f93c5499d.png" alt="" width=100%>
                    </div>
                </div>

            </section>
            
            <!-- side section -->
            <aside>
                <div class="contact-info">
                    <b>CONTACT</b>
                    <p>
                        김선중 / Seon Kim
                        <br>
                        moleskindiary@gmail.com
                        <br>
                        sustainablediary.com
                    </p>
                </div>
                <div class="insta-photo">
                    <b>INSTAGRAM</b>
                    <br>    
                    <div id="instagram-embed">
                        <img alt="" width=100%>
                    </div>
                </div>
            </aside>
        </div>

        <!-- footer -->
        <footer>
            SUSTAINABLE DIARY&copy;
            <br>
            <span id="since">SINCE 2017</span>
            <i class="fas fa-arrow-circle-up fa-2x" id="home"></i>
        </footer>
    </div>

    <script src ='../public/js/common.js'></script>

</body>
</html>