<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sustainable diary</title>
    <link rel = "stylesheet" href = "../public/css/common.css">
    <link rel = "stylesheet" href = "../public/css/visitor.css">
    
    <!-- to use fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    
</head>

<body>
    <!-- 일단은 div 태그로 감싸야 flex 적용이 가능하다 -->
    <div class="container">
        <!-- 헤더 영역 -->
        <header>
            <div class="logo">
                <!-- logo -->
                <a href="./index.html" id = "logo">SUSTAINABLE DIARY</a>
                <!-- hamburger icon -->
                <a href="./index.html">
                    <i class="fas fa-bars" id = "hamburger"></i>
                </a>
              </div>
                     
              <nav class ='nav-flex-container active'>
                <a href="./index.html">home</a>
                <a href="./profile.html">profile</a>
                <a href="./project.html">project</a>
                <a href="./gallery.html">gallery</a>
                <a href="./diary.html">diary</a>
                <a href="./visitor.html">visitor</a>
              </nav>
              
              <div id = "pop-up">
                <div>
                    <a href="./index.html">home</a>
                    <a href="./profile.html">profile</a>
                    <a href="./project.html">project</a>
                    <a href="./gallery.html">gallery</a>
                    <a href="./diary.html">diary</a>
                    <a href="./visitor.html">visitor</a>
                </div>
              </div>
        </header>

        <!-- contents -->
        <div class="contents">
            <!-- main section -->
            <section class="main">
            
            </section>
        </div>
 
        <!-- footer -->
        <footer>
            SUSTAINABLE DIARY&copy;
            <br>
            <span id="since">SINCE 2017</span>
        </footer>
        </div>
    </div>
    <script src = './public/js/common.js'></script>
</body>
</html>